body {
  font-family: arial;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

#nav-link {
  color: inherit;
  text-decoration: none;
  margin-right: 30px;
  font-size: 13px;
}

#nav-link:hover {
  text-decoration: underline;
}

#advanced-search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #EBEBEB
}

#advanced-search-text {
  color: #E36A25;
  font-size: 20px;
  padding-left: 35px;
}

#main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 35px;
  width: 55%;
}

#to-do-text {
  font-size: 14px;
  font-weight: bolder;
}

#advanced-search-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 25px;
}

#advanced-search-button {
  margin-right: 314px;
  color: white;
  font-weight: bold;
  background-color: #4A8CF7;
  border: 0;
  height: 30px;
  padding: 10px 10px 25px 10px;
  border-radius: 3px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.input-field > input {
  width: 53%;
  height: 20px;
}

.beginning-text{
  font-size: 13px;
  width: 15%;
}

.end-text {
  font-size: 11px;
  width: 300px;
}

.mono-text {
  font-family: monospace;
  width: 32%;
}
