body {
  font-family: arial;
  font-size: 13px;
}

#navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  padding-right: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 594px;
}

.search-box{
    border: 1px solid #E6E8EB;
    border-radius: 25px;
    height: 40px;
    padding-left: 40px;
    outline: none;

}

.search-box:hover {
  box-shadow: 0px 1px 3px rgb(192, 185, 185);
}

.buttons{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button {
  border-color: transparent;
  background-color: #F8F9FA;
  padding: 10px 10px 10px 10px;
  border-radius: 5px
}

.button:hover {
  box-shadow: 0px 0px 3px 0.5px rgb(192, 185, 185);
  cursor: pointer;
}
